<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="InLineEx"
                    converterClass="net.n2oapp.platform.ms.autoconfigure.logging.OneLineStacktraceConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m ${LOG_EXCEPTION_CONVERSION_WORD:-%InLineEx}%n"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="InLineConsoleOutput" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.n2oapp.platform.ms.autoconfigure.logging.OneLinePatternLayout">
                <pattern>{ "value" : "${CONSOLE_LOG_PATTERN}" }</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="InLineConsoleOutput"/>
    </root>
</configuration>
